/* Nav.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 100%;
}

.logo-container {
  flex: 1;
}

.logo {
  height: 4rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ea4c89;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container button {
  background-color: #ea4c89;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons-container button:hover {
  background-color: #d44179;
}

.left-nav {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.icon {
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
}

.buttons-container img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide nav-links by default */
  }
  
  .nav-links li {
    margin-right: 10px; /* Reduce margin for smaller screens */
  }
  
  .nav-links a {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
  
  .buttons-container {
    margin-right: 10px; /* Add margin for smaller screens */
  }
  
  .search-input {
    width: 100%; /* Take full width for smaller screens */
    margin-right: 0; /* Remove margin for smaller screens */
  }
}
