/* ProfileCreation.css */

.profile-creation {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.profile-creation h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-creation p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.profile-creation div {
    margin-bottom: 20px;
}

.profile-creation h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-creation img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 10px dotted #ccc;
    margin-bottom: 10px;
}

.profile-creation button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
}

.profile-creation input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.profile-creation button:last-child {
    background-color: #ff7f7f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.image-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image-input-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.pc-logo {
    height: 4rem;
}

@media screen and (max-width: 576px) {
    .profile-creation img {
      width: 8rem; /* Adjust width for smaller screens */
      height: 8rem; /* Adjust height for smaller screens */
    }
  
    .image-input {
      flex-direction: column; /* Change direction for smaller screens */
    }
  
    .image-input-right {
      margin-left: 0; /* Remove margin for smaller screens */
      margin-top: 10px; /* Add margin top for smaller screens */
    }
  }